/*This centers all the elements on the page */
#centerall {
    width: 980px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    
}

/*This creates the title and border and aligns it to the right place*/
h1{
    margin:auto; 
    width: 630px;
    height:80px;
    font-family:Georgia;
    font-weight:100;
    font-size: 70px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-right: 115px;
    padding-left: 100px;
    padding-top: 23px;
    text-align:center;
}
/*This formats the nature text on the nature page*/
#nature{
    font-family:Georgia;
    font-weight:100;
    font-size: 34px;
    margin-top: 62px;
    margin-bottom: -90px;
    margin-left: 15px;
}

/*This creates the menu using a list and creates the bottom half border*/
ul
{
    margin: auto;
    width: 805px;
    height: 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-bottom: 24px;
    font-family:Georgia;
    
}

/*Nav Bar float method learned from https://www.w3schools.com/css/css_navbar.asp*/
/*This allows the list elements to be inline vs vertical and moves it to the correct place and removes the bullets*/
li{
   list-style-type:none;
   float:left;
    padding: 4px;
   transform: translate(75px, 5px);
}

/*This class removes the underline and changes the selected link to black to show which page you are on*/
.homelist a{
    font-style:italic;
    color:black;
    text-decoration: none;
}

/*This class removes the underline and changes the selected link to gray to show links you aren't on*/
li a
{
  color: dimgray;
  font-weight:100;
  font-style:italic;
  padding: 0px 12px;
  text-decoration: none;
}

/*This creates special spacing for the home page*/
#picturemargin{
    padding-top:12px;
}

/*This creates the spacing for the pictures*/
#picturegrid{
    padding-top: 100px;    
    width: 965px;
    height:1060px;
   margin-left: auto;
    margin-right:auto;
    transform: translate(3px, 0px);
}

/*Object-Fit method learned from https://alligator.io/css/cropping-images-object-fit/*/
/*This class defines the size of the pictures and crops the pictures*/
.crop{
    height: 472px;
    width: 472px;
    object-fit:cover;
}

/*This creates the format and spacing for the copyright*/
#copyright{
    padding-top:30px;
    height: 20px;
    width: 144px;
    font-family:Georgia;
    font-style:italic;
    font-size: 12px;
    font-weight:100;
    text-align: center;
    padding-right: px;
    margin-left: auto;
    margin-right:auto;
}

/*This creates the spacing for the social icons*/
#tablesocial{
    padding-top: 10px;
    padding-right: 5px;
    margin-left: auto;
    margin-right:auto;
    border-spacing: 10px;
}

/*This creates the spacing for the social icons*/
.makesmallsocial{
    width: 24px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}



